body {
    background-color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-md-4{
    width: 25%;
    background-color: #27355C;
    border-radius: 0.375rem;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    }



.links {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 24px;
}

.links a {
    text-decoration: none;
    color: white;
}

.card-text {
    font-size: 24px;
    font-weight: bold;
   
}

.text-body-secondary {
    color: black !important;
    font-weight: 400;
}
.main-container {
    width: 650px;
}

.ms-4 {
    margin-left: 15rem !important;
}

.logo img {
    height: 80px;
    width: 80px;
}
.card-body {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 300px;
    justify-content: flex-start;
  
}

.color-grey {
    color: gray !important;
}